$icon-action: "\e600";
$icon-addcalendar: "\e601";
$icon-airplay: "\e602";
$icon-alert: "\e603";
$icon-attach: "\e604";
$icon-backspace: "\e605";
$icon-ban: "\e606";
$icon-barchart: "\e607";
$icon-battery: "\e608";
$icon-book: "\e609";
$icon-bookmark: "\e60a";
$icon-box: "\e60b";
$icon-briefcase: "\e60c";
$icon-buildings: "\e60d";
$icon-calendar: "\e60e";
$icon-camera: "\e60f";
$icon-cart: "\e610";
$icon-caution: "\e611";
$icon-cell: "\e612";
$icon-chat: "\e613";
$icon-check: "\e614";
$icon-checkcalendar: "\e615";
$icon-clock: "\e616";
$icon-cloud: "\e617";
$icon-columns: "\e618";
$icon-compass: "\e619";
$icon-compose: "\e61a";
$icon-connection: "\e61b";
$icon-contract: "\e61c";
$icon-creditcard: "\e61d";
$icon-crop: "\e61e";
$icon-crosshair: "\e61f";
$icon-cursor: "\e620";
$icon-dashboard: "\e621";
$icon-database: "\e622";
$icon-delete: "\e623";
$icon-deletecalendar: "\e624";
$icon-desktop: "\e625";
$icon-directleft: "\e626";
$icon-directright: "\e627";
$icon-directup: "\e628";
$icon-dislike: "\e629";
$icon-dollarsign: "\e62a";
$icon-down: "\e62b";
$icon-downleft: "\e62c";
$icon-download: "\e62d";
$icon-downloadcloud: "\e62e";
$icon-downloadhdd: "\e62f";
$icon-downright: "\e630";
$icon-dropdown: "\e631";
$icon-droplet: "\e632";
$icon-eject: "\e633";
$icon-ellipsis: "\e634";
$icon-ellipsischat: "\e635";
$icon-emptybattery: "\e636";
$icon-erase: "\e637";
$icon-expand: "\e638";
$icon-facetime: "\e639";
$icon-fastforward: "\e63a";
$icon-fax: "\e63b";
$icon-femaleuser: "\e63c";
$icon-file: "\e63d";
$icon-fill: "\e63e";
$icon-filter: "\e63f";
$icon-flag: "\e640";
$icon-flask: "\e641";
$icon-folder: "\e642";
$icon-font: "\e643";
$icon-fork: "\e644";
$icon-globe: "\e645";
$icon-grid: "\e646";
$icon-halfheart: "\e647";
$icon-halfstar: "\e648";
$icon-hdd: "\e649";
$icon-heart: "\e64a";
$icon-help: "\e64b";
$icon-highbattery: "\e64c";
$icon-highvolume: "\e64d";
$icon-home: "\e64e";
$icon-hyphen: "\e64f";
$icon-inbox: "\e650";
$icon-info: "\e651";
$icon-key: "\e652";
$icon-laptop: "\e653";
$icon-layers: "\e654";
$icon-layout: "\e655";
$icon-left: "\e656";
$icon-lightbulb: "\e657";
$icon-like: "\e658";
$icon-link: "\e659";
$icon-list: "\e65a";
$icon-loading: "\e65b";
$icon-location: "\e65c";
$icon-lock: "\e65d";
$icon-logout: "\e65e";
$icon-lowbattery: "\e65f";
$icon-lowvolume: "\e660";
$icon-mail: "\e661";
$icon-map: "\e662";
$icon-mediumbattery: "\e663";
$icon-merge: "\e664";
$icon-mic: "\e665";
$icon-move: "\e666";
$icon-music: "\e667";
$icon-navigate: "\e668";
$icon-navigatedown: "\e669";
$icon-navigateleft: "\e66a";
$icon-navigateright: "\e66b";
$icon-navigateup: "\e66c";
$icon-newspaper: "\e66d";
$icon-notdef: "\e66e";
$icon-notebook: "\e66f";
$icon-notifications: "\e670";
$icon-notificationsdisabled: "\e671";
$icon-openbook: "\e672";
$icon-pause: "\e673";
$icon-phone: "\e674";
$icon-phonedisabled: "\e675";
$icon-picture: "\e676";
$icon-piechart: "\e677";
$icon-pin: "\e678";
$icon-play: "\e679";
$icon-plus: "\e67a";
$icon-print: "\e67b";
$icon-quote: "\e67c";
$icon-record: "\e67d";
$icon-redirect: "\e67e";
$icon-refresh: "\e67f";
$icon-removecalendar: "\e680";
$icon-repeat: "\e681";
$icon-replay: "\e682";
$icon-reply: "\e683";
$icon-retweet: "\e684";
$icon-rewind: "\e685";
$icon-right: "\e686";
$icon-rows: "\e687";
$icon-rss: "\e688";
$icon-sample: "\e689";
$icon-search: "\e68a";
$icon-send: "\e68b";
$icon-settings: "\e68c";
$icon-shuffle: "\e68d";
$icon-signpost: "\e68e";
$icon-skipback: "\e68f";
$icon-skipforward: "\e690";
$icon-star: "\e691";
$icon-stop: "\e692";
$icon-stopwatch: "\e693";
$icon-stroke: "\e694";
$icon-sync: "\e695";
$icon-tablet: "\e696";
$icon-tag: "\e697";
$icon-target: "\e698";
$icon-text: "\e699";
$icon-thumbnails: "\e69a";
$icon-transfer: "\e69b";
$icon-trash: "\e69c";
$icon-unlock: "\e69d";
$icon-up: "\e69e";
$icon-upleft: "\e69f";
$icon-upload: "\e6a0";
$icon-uploadcloud: "\e6a1";
$icon-upright: "\e6a2";
$icon-user: "\e6a3";
$icon-users: "\e6a4";
$icon-video: "\e6a5";
$icon-view: "\e6a6";
$icon-volume: "\e6a7";
$icon-warehouse: "\e6a8";
$icon-wifi: "\e6a9";
$icon-write: "\e6aa";
$icon-writingdisabled: "\e6ab";
$icon-zoomin: "\e6ac";
$icon-zoomout: "\e6ad";
