<header id="header" class="b-header b-header_auth">
	<nav id="main-menu" class="b-header__nav-wrapper">
		<div class="container-fluid">
			<a href="#/" class="b-logo">
				<img src="icons/logo.png" alt="Thalamus">
			</a>
			<!-- - основное меню-->
			<ul class="nav b-main-menu">
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/dashboard">Dashboard</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/program">Program</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/administration">Administration</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/calendar">Calendar</a>
				</li>
				<li class="menuitem active"><a role="menuitem" tabindex="-1" href="#/applicants">Applicants</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/documents">Documents</a>
				</li>
			</ul>
			<div class="b-user">
				<span class="dropdown">
					<a href="" class="b-prof" data-toggle="dropdown">
						<span class="b-user_name">
							<span class="name">System Admin</span>
							<b class="b-job">Thalamus System</b>
						</span>
						<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
					</a>
					<div class="dropdown-menu dropdown-menu-right" role="menu">
						<div class="b-profile">
							<img src="images/pic_01.jpg" height="80" width="80" class="img-circle">
							<div class="b-info">
								<span class="my-user">My user Profile</span>
								<span class="name">Patricia Oakes</span>
								<a href="#">View Profile</a>
								<a href="#" class="but_out">Sign out</a>
							</div>
						</div>
						<div class="b-prof_roles">
							<span class="my-user">My Granted Roles</span>
							<a href="#" class="b-user_role">
								<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
								<span class="b-user_name">
									<span class="name">System Admin</span>
									<b class="b-job">Thalamus System</b>
								</span>
							</a>
							<a href="#" class="b-user_role">
								<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
								<span class="b-user_name">
									<span class="name">Interviewer</span>
									<b class="b-job">Harvard Medical School</b>
								</span>
							</a>
							<a href="#" class="b-user_role active">
								<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
								<span class="b-user_name">
									<span class="name">Applicant</span>
									<b class="b-job">Archived</b>
								</span>
							</a>
						</div>
					</div>
				</span>
				<a href="#" class="b-mess">&#xe661</a>
				<a href="#" class="b-dzn">&#xe670</a>
			</div>
		</div>
	</nav>
</header>
<div class="b-fix-wrapper">
	<div class="b-content">
		<div class="fc-toolbar b-filter clearfix">
			<div class="dropdown">
				<button class="b-add btn fc-button"  data-toggle="dropdown" >&#xe67a</button>
				<ul class="dropdown-menu" role="menu">
							<li role="presentation"><a role="menuitem" href="#">Add New Applicant</a></li>
							<li role="presentation"><a role="menuitem" data-target="#apl-import" data-toggle="modal">Import Applicants</a></li>
						  </ul>
			</div>
			<form class="b-search-form" method="get" action=".">
				<fieldset>
					<input type="button" class="b-search-panel__button">
					<input type="text" name="q" class="b-search-input" value='' placeholder="Applicants search…">
					
				</fieldset>
			</form>
			<div class="b-btn-toolbar">
				<span class="b-result">No records</span>
				<div class="btn-group fc-button-group">
					<div class="dropdown">
						<button class="btn btn-success fc-button b-link_settings" data-toggle="dropdown"><span>&#xe68c</span></button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li role="presentation"><a role="menuitem" href="#">Show Dashboard</a></li>
							<li role="presentation"><a role="menuitem" href="#">Change Table Columns</a></li>
							<li role="presentation"><a role="menuitem" href="#/applicants_list">Refresh View</a></li>
							<li role="presentation"><a role="menuitem" href="#">Print Current View</a></li>
						  </ul>
					</div>
				</div>
			</div>
		</div>
		<div class="d_table docsEmpty">
			<div class="d_table_cell">
				There are no Applicants added to the Program.<br/>Please <a  data-target="#apl-import-ok" data-toggle="modal">import</a> Applicants or simply <a href="#">add</a> them manually.
			</div>
		</div>
	</div>
</div>
<footer id="footer">
	<div class="b-footer-wrapper">
		<div class="container-fluid b-footer-aboutme">
			<div class="row">
                        <div class="col-xs-12 col-md-3 pull-right">
                            <div class="b-footer-soc">
                                <ul class="b-footer_link">
                                    <li><a href="https://twitter.com/thalamusgme" target="_blank" class="soc_tw"></a></li>
                                    <li><a href="https://www.linkedin.com/company/thalamusgme" target="_blank" class="soc_in"></a></li>
                                    <li><a href="https://www.facebook.com/thalamusgme" target="_blank" class="soc_fb"></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCWI0_Ip5Ie-aDpjnCa8xBvw" target="_blank" class="soc_yt"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="b-footer-copy">
                                <p>
                                    © SJ MedConnect Inc. 2015.&nbsp;&nbsp;&nbsp;
                                    <a href="/termsOfUse">Terms of Service</a>
                                    <span class="b-color_grey">|</span>
                                    <a href="/privacyPolicy">Privacy Policy</a>
                                    <span class="b-color_grey">|</span>
                                    Version: 1.0.0.37396
                                    <span class="b-color_grey">|</span>
                                    Created: 16.10.2015 18:46:33 UTC
                                </p>
                            </div>
                        </div>
                    </div>
			</div>
		</div>
	</div>
</footer>
<!-- /Modal -->
<div class="modal fade" id="apl-import" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="b-modal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel1">Import Applicants</h4>
					</div>
					<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
						<div class="modal-body js-scroll container-fluid">
							<div class="form-group row fileSet collapse" id="aplUpload">
								<label class="col-sm-12 control-label">Importing Applicants List</label>
								<div class="col-sm-12">
									<label class="cFile" for="">UW-ERAS Applicant1.csv</label>
									<div class="row">
										<span class="col-sm-3">Import processed:</span><span class="col-sm-9">365 of 760</span>
									</div>
									<div class="row errorTxt">
										<span class="col-sm-3">Broken records:</span><span class="col-sm-9">5</span>
									</div>
								</div>
							</div>
							<div class="form-group row fileSetPan">
								<div class="col-sm-12">
									<div class="file_wrapper">
										<a href="#" class="b-name"><i class="icon icon-plus"></i>Open Import Files</a>
										<input type="file" name="files[]">
									</div>
									<span>Please select .CSV file you previuosly downloaded from ERAS.<br/>
									Impor process will immediately start.<br/>
									We will provide import report after processing.</span>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel singleBtn">Cancel</button>
						</div>
					</form>
		</div>
	  </div>
	</div>
  </div>
</div>
<!-- /Modal -->
<!-- /Modal -->
<div class="modal fade" id="apl-import-ok" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="b-modal">
					<div class="modal-header done">
						<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel1">Import Applicants</h4>
						<div class="info-descr"><span class="icon icon-info"></span> Broken records should be added manualy.</div>
					</div>
					<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
						<div class="modal-body js-scroll container-fluid">
							<div class="form-group row fileSet grayPad">
								<label class="col-sm-12 control-label">Success!</label>
								<div class="col-sm-12">
									<label class="cFile uploaded" for="">UW-ERAS Applicant1.csv<i class="icon icon-check"></i></label>
									<div class="row">
										<span class="col-sm-3">Import processed:</span><span class="col-sm-9">365 of 760</span>
									</div>
									<div class="row errorTxt">
										<span class="col-sm-3">Broken records:</span><span class="col-sm-9">5</span>
									</div>
								</div>
								<div class="form-group row">
									<div class="b-btn-toolbar inner col-sm-12">
										<div class="btn-group col-sm-12">
											<button class="btn btn-success fc-button"><span class="icon icon-print"></span><span>Print Report</span></button>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group apl-list">
								<div class="apl-item col-sm-12 done">
									<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
									<span class="name">John  <br/>Someone</span>
									<span class="icon icon-check"></span>
								</div>
								<div class="apl-item col-sm-12 done">
									<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
									<span class="name">John  <br/>Someone</span>
									<span class="icon icon-check"></span>
								</div>
								<div class="apl-item col-sm-12 done">
									<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
									<span class="name">John  <br/>Someone</span>
									<span class="icon icon-check"></span>
								</div>
								<div class="apl-item col-sm-12">
									<img src="images/avatar.jpg" height="40" width="40" class="img-circle">
									<span class="name">John  <br/>Someone</span>
									<span class="errorTxt">Broken</span>
								</div>
								<div class="apl-item col-sm-12">
									<img src="images/avatar.jpg" height="40" width="40" class="img-circle">
									<span class="name">John  <br/>Someone</span>
									<span class="errorTxt">Broken</span>
								</div>
								<div class="apl-item col-sm-12 done">
									<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
									<span class="name">John  <br/>Someone</span>
									<span class="icon icon-check"></span>
								</div>
								<div class="apl-item col-sm-12 done">
									<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
									<span class="name">John  <br/>Someone</span>
									<span class="icon icon-check"></span>
								</div>
								<div class="apl-item col-sm-12">
									<img src="images/avatar.jpg" height="40" width="40" class="img-circle">
									<span class="name">John  <br/>Someone</span>
									<span class="errorTxt">Broken</span>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<div class="modal-footer">
							<button type="submit" class="b-button">Finish</button>
							<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel">Cancel</button>
						</div>
						</div>
					</form>
		</div>
	  </div>
	</div>
  </div>
</div>
<!-- /Modal -->