<header id="header" class="b-header b-header_auth">
	<nav id="main-menu" class="b-header__nav-wrapper">
		<div class="container-fluid">
			<a href="#/" class="b-logo">
				<img src="icons/logo.png" alt="Thalamus">
			</a>
			<!-- - основное меню-->
			<ul class="nav b-main-menu">
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/dashboard">Dashboard</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/program">Program</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/administration">Administration</a>
				</li>
				<li class="menuitem active dropdown" >
					<a  class="dropdown-toggle" data-toggle="dropdown">Calendar</a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation" class="disabled"><a role="menuitem" href="#/calendar_empty" >Empty Calendar</a></li>
						<li role="presentation" class="disabled"><a role="menuitem" href="#/calendar" >Calendar</a></li>
					 </ul>

				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/applicants">Applicants</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/documents">Documents</a>
				</li>
			</ul>
			<div class="b-user">
				<span class="dropdown">
					<a href="" class="b-prof" data-toggle="dropdown">
						<span class="b-user_name">
							<span class="name">System Admin</span>
							<b class="b-job">Thalamus System</b>
						</span>
						<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
					</a>
					<div class="dropdown-menu dropdown-menu-right" role="menu">
						<div class="b-profile">
							<img src="images/pic_01.jpg" height="80" width="80" class="img-circle">
							<div class="b-info">
								<span class="my-user">My user Profile</span>
								<span class="name">Patricia Oakes</span>
								<a href="#">View Profile</a>
								<a href="#" class="but_out">Sign out</a>
							</div>
						</div>
						<div class="b-prof_roles">
							<span class="my-user">My Granted Roles</span>
							<a href="#" class="b-user_role active">
								<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
								<span class="b-user_name">
									<span class="name">System Admin</span>
									<b class="b-job">Thalamus System</b>
								</span>
							</a>
							<a href="#" class="b-user_role">
								<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
								<span class="b-user_name">
									<span class="name">Interviewer</span>
									<b class="b-job">Harvard Medical School</b>
								</span>
							</a>
							<a href="#" class="b-user_role">
								<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
								<span class="b-user_name">
									<span class="name">Applicant</span>
									<b class="b-job">Archived</b>
								</span>
							</a>
						</div>
					</div>
				</span>
				<a href="#" class="b-mess">&#xe661</a>
				<a href="#" class="b-dzn">&#xe670</a>
			</div>
		</div>
	</nav>
</header>
<div class="b-fix-wrapper">
	<div class="b-content">
		<section id="directives-calendar">
			<div class="dropdown">
			<button class="b-add btn fc-button b-add-event" data-toggle="dropdown">&#xe67a</button>
				<ul class="dropdown-menu" role="menu">
								<li role="presentation"><a role="menuitem" data-target="#session_new" data-toggle="modal">Add Interview Session</a></li>
								<li role="presentation"><a role="menuitem" data-target="#session_common" data-toggle="modal">Add Common Session</a></li>
								<li role="presentation"><a role="menuitem" data-target="#session_delete" data-toggle="modal">Delete Session</a></li>
								<li role="presentation" class="divider"></li>
								<li><a data-target="#event" data-toggle="modal">Add Interview Date</a></li>
								<li><a data-target="#edit_event" data-toggle="modal">Edite Interview Date</a></li>
								<li><a data-target="#detalis_event" data-toggle="modal">Detalis Interview Date</a></li>
								<li><a data-target="#choose_role" data-toggle="modal">Choose Role to Open</a></li>
			   </ul>
			</div>	
			<div class="calendar fc fc-ltr fc-unthemed">
				<div class="fc-toolbar">
					<div class="fc-left">
						<button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled">today</button>
						<div class="fc-button-group">
							<button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left"><span class="fc-icon fc-icon-left-single-arrow"></span></button>
							<button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right"><span class="fc-icon fc-icon-right-single-arrow"></span></button>
						</div>
					</div>
					<div class="fc-right"></div>
					<div class="fc-center"><h2>August 18, 2015</h2></div>
					<div class="fc-clear"></div>
				</div>	
			</div>
			<button class="btn btn-success fc-button b-btn-datepicker">&#xe60e</button>
			<div class="b-btn-toolbar">
				<div class="btn-group fc-button-group fc-view-group">
					<button class="btn btn-success">Month</button>
					<button class="btn btn-success">Week</button>
					<button class="btn btn-success active">Day</button>
				</div>
				<div class="btn-group fc-button-group">
					<div class="dropdown">
						<button class="btn btn-success fc-button b-link_settings" data-toggle="dropdown"><span>&#xe68c</span></button>
						<ul class="dropdown-menu dropdown-menu-right" role="menu">
							<li role="presentation"><a role="menuitem" href="#">Show Information Panel</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" href="#">Refresh View</a></li>
							<li role="presentation"><a role="menuitem" href="#">Print Current View</a></li>
							<li role="presentation" class="divider"></li>
							<li role="presentation"><a role="menuitem" data-target="#settings" data-toggle="modal">Settings</a></li>
					   </ul>
					</div>				
				</div>
				<div class="btn-group fc-button-group">
					<button class="btn btn-success fc-button b-link_info">&#xe651</button>
				</div>
			</div>
			<div class="b-calendar_submemu"><a data-target="#event" data-toggle="modal" class="b-add_interview"><span class="ico">+</span> Create Interview Event</a></div>
			<div class="b-calendar_empty">
				<p>This date is currently empty.<br/>Please <a data-target="#event" data-toggle="modal">create</a> Interview Day Event first.</p>
			</div>
		</section>
	</div>
</div>
<footer id="footer">
	<div class="b-footer-wrapper">
		<div class="container-fluid b-footer-aboutme">
			<div class="row">
                        <div class="col-xs-12 col-md-3 pull-right">
                            <div class="b-footer-soc">
                                <ul class="b-footer_link">
                                    <li><a href="https://twitter.com/thalamusgme" target="_blank" class="soc_tw"></a></li>
                                    <li><a href="https://www.linkedin.com/company/thalamusgme" target="_blank" class="soc_in"></a></li>
                                    <li><a href="https://www.facebook.com/thalamusgme" target="_blank" class="soc_fb"></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCWI0_Ip5Ie-aDpjnCa8xBvw" target="_blank" class="soc_yt"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="b-footer-copy">
                                <p>
                                    © SJ MedConnect Inc. 2015.&nbsp;&nbsp;&nbsp;
                                    <a href="/termsOfUse">Terms of Service</a>
                                    <span class="b-color_grey">|</span>
                                    <a href="/privacyPolicy">Privacy Policy</a>
                                    <span class="b-color_grey">|</span>
                                    Version: 1.0.0.37396
                                    <span class="b-color_grey">|</span>
                                    Created: 16.10.2015 18:46:33 UTC
                                </p>
                            </div>
                        </div>
                    </div>
			</div>
		</div>
	</div>
</footer>

<!-- Modal -->
					<div class="modal fade" id="event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
							<div class="b-modal">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Create Event</h4>
										</div>
										<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
											<div class="modal-body js-scroll container-fluid">
												<div class="form-group">
													<label for="EventTitle">Event Title</label>
													<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="EventTitle" placeholder="Type Event Title" required="" autofocus="">
												</div>
												<div class="form-group row">
													<label for="date" class="col-sm-2 control-label">Date</label>
													<div class="col-sm-10 input-group date input-append" id="date">
														<input type="text" data-format="dd/mm/yyyy" class="form-control"><span class="add-on"><i class="icon  icon-calendar"></i></span>
													</div>
												</div>
												<div class="row">
												<div class="form-group col-sm-6">
													<label for="timefrom" class="col-sm-2 control-label">From</label>
													<div class="col-sm-10 timepicker input-append">
													<input type="text" data-format="HH:mm PP" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="timefrom"  required="" value=""><span class="add-on"><i class="icon  icon-clock"></i></span>
													</div>
												</div>
												<div class="form-group col-sm-6">
													<label for="timeto" class="col-sm-2 control-label">To</label>
													<div class="col-sm-10 timepicker input-append">
													<input type="text" data-format="HH:mm PP" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="timeto"  required="" value=""><span class="add-on"><i class="icon icon-clock"></i></span>
													</div>
												</div>
												</div>
												<div class="form-group row">
													<label for="location" class="col-sm-2 control-label">Location</label>
													<div class="col-sm-10 inp-location">
													<input type="text" class="form-control  ng-pristine ng-valid ng-valid-required ng-touched" id="location"  name="location" required="" placeholder="Add location"><span class="add-on"><i class="icon  icon-location"></i></span>
													</div>
												</div>
												<div class="panel">
													<span data-toggle="collapse" data-target="#tierinfo" class="b-name collapsed">Tier Interview Slots Distribution Setup</span>
													<div  id="tierinfo" class="collapse">
														<table>
															<tr>
																<th>Track / Name</th>
																<th>Tier I</th>
																<th>Tier II</th>
																<th>Tier III</th>
																<th></th>
																<th>Total <br/>by TRack</th>
															</tr>
															<tr>
																<td><span class="b-defualt">Tr default</span>Neurology</td>
																<td>5</td>
																<td>3</td>
																<td>5</td>
																<td></th>
																<td ng-model="tot1">13</td>
															</tr>
															<tr>
																<td><span class="b-defualt">Tr 1</span>Neurology</td>
																<td><input type="number" class="form-control" ng-model="name1" name="name3" required="" placeholder="0"></td>
																<td><input type="number" class="form-control" ng-model="name2"  name="name2" required="" placeholder="0"></td>
																<td><input type="number" class="form-control" ng-model="name3"  name="name1" required="" placeholder="0"></td>
																<td></th>
																<td ng-model="tot2">{{name1+name2+name3}}</td>
															</tr>
															<tr>
																<td colspan="5">Total Number of slots</td>
																<td>{{tot1+tot2}}</td>
															</tr>
														</table>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 control-label">Repeat Weekly</label>
													<div class="col-sm-8">
														<label>You can select recurrency and date when events ends</label>
														<span class="switch"><input data-toggle="collapse" data-target="#Weekly" type="checkbox"><i></i></span>
													</div>
												</div>
												<div class="collapse" id="Weekly">
												<div class="form-group weekly-group">
															<label class="checkbox-inline" ng-class="{checked:Mo}"><input type="checkbox" ng-model="Mo" value="">Mo</label>
														     <label class="checkbox-inline" ng-class="{checked:Tu}" ><input type="checkbox"ng-model="Tu" value="">Tu</label>
														     <label class="checkbox-inline" ng-class="{checked:We}"><input type="checkbox" ng-model="We"value="">We</label>
														     <label class="checkbox-inline" ng-class="{checked:Th}"><input type="checkbox"ng-model="Th" value="">Th</label>
														     <label class="checkbox-inline" ng-class="{checked:Fr}"><input type="checkbox"ng-model="Fr" value="">Fr</label>
														     <label class="checkbox-inline" ng-class="{checked:Sa}"><input type="checkbox"ng-model="Sa" value="">Sa</label>
														     <label class="checkbox-inline" ng-class="{checked:Su}"><input type="checkbox"ng-model="Su" value="">Su</label>

												</div>
												<div class="form-group row">
													<label for="date" class="col-sm-4 control-label">Date Until</label>
													<div class="col-sm-8 input-group date">
														<input type="text" data-format="dd/mm/yyyy" class="form-control"><span class="add-on"><i class="icon  icon-calendar"></i></span>
													</div>
												</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 control-label">description</label>
													<div class="col-sm-8">
														<label>You can add description to the Event</label>
														<span class="switch"><input data-toggle="collapse" data-target="#description"  type="checkbox"><i></i></span>
													</div>
												</div>
												<div class="form-group collapse" id="description">
														<textarea  class="form-control">Students in all of UW Neurology education programs benefit from faculty members who are dedicated teachers and mentors to the next generation of neurologists. .</textarea>
													
												</div>
												<div class="form-group row">
													<label class="col-sm-4 control-label">Attachment</label>
													<div class="col-sm-8">
														<label>Upload attachment to the Event</label>
														<span class="switch"><input data-toggle="collapse" data-target="#Attachment"   type="checkbox"><i></i></span>
													</div>
												</div>
												<div class="form-group collapse" id="Attachment">
														<span class="b-upload_file hidden"><input type="file" class="opaque" name="name" id="1534135956317186"/>
														<a href="#" class="b-upload"><span>+</span></a></span>
														<span class="b-upload_file"><input type="file" class="opaque" name="files[]" id=""/>
														<a href="#" class="b-upload"><span>+</span></a></span>
														<div class="loaded-file" data-id="1534135956317186"><a href="#" class="link_pdf">Attachment.pdf</a><a href="#" class="remove"></a></div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="submit" class="b-button">Create</button>
												<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel">Cancel</button>
											</div>
										</form>
							</div>
						  </div>
						</div>
					  </div>
					</div>
			<!-- /Modal -->
			<!-- Modal -->
					<div class="modal fade" id="settings" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
							<div class="b-modal">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Calendar Settings</h4>
										</div>
										<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
											<div class="modal-body container-fluid">
												<div class="form-group">
													<label for="EventTitle">name of the Period</label>
													<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="EventTitle" placeholder="Type Name, e.g. Residency 2015" required="" autofocus="">
												</div>
												<div class="form-group row">
													<label for="date" class="col-sm-4 control-label">Date from</label>
													<div class="col-sm-8 input-group date input-append" id="date">
														<input type="text" data-format="dd/mm/yyyy"  value="04/26/2015" class="form-control"><span class="add-on"><i class="icon  icon-calendar"></i></span>
													</div>
												</div>
												<div class="form-group row">
													<label for="date2" class="col-sm-4 control-label">Date To</label>
													<div class="col-sm-8 input-group date input-append" id="date2">
														<input type="text" data-format="dd/mm/yyyy" class="form-control" value="04/26/2015"><span class="add-on"><i class="icon  icon-calendar"></i></span>
													</div>
												</div>
												<div class="form-group row">
													<label for="Period" class="col-sm-4 control-label">Schedule lock Period</label>
													<div class="col-sm-8">
														<input type="text" class="form-control  inp-right ng-pristine ng-valid ng-valid-required ng-touched" id="Period"  name="Period" required="" value="72 h" placeholder="">
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="submit" class="b-button">Save</button>
												<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel">Cancel</button>
											</div>
										</form>
							</div>
						  </div>
						</div>
					  </div>
					</div>
			<!-- /Modal -->
			<!-- Modal -->
					<div class="modal fade" id="session_delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
							<div class="b-modal w440">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Delete Session</h4>
										</div>
										<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
											<div class="modal-body container-fluid">
													<div class="form-group"><p class="inf-warn"><span>You are going to delete this session. This operation cannot be undone. Are you sure?</span></p></div>
											</div>
											<div class="modal-footer">
												<button type="submit" class="b-button">Delete</button>
												<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel">Cancel</button>
											</div>
										</form>
							</div>
						  </div>
						</div>
					  </div>
					</div>
			<!-- /Modal -->
						<!-- Modal -->
					<div class="modal fade" id="session_new" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
							<div class="b-modal">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Create Interview Session</h4>
										</div>
										<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
											<div class="modal-body container-fluid">
												<div class="form-group row">
													<label for="date" class="col-sm-4 control-label">Date</label>
													<div class="col-sm-8 input-group date input-append" id="date">
														<input type="text" data-format="dd/mm/yyyy"  value="04/26/2015" class="form-control"><span class="add-on"><i class="icon  icon-calendar"></i></span>
													</div>
												</div>
												<div class="form-group row">
													<label for="timefrom" class="col-sm-4 control-label">Interview time</label>
													<div class="col-sm-8 timepicker input-append time_period">
													<input type="text" data-format="HH:mm PP" value="08:00AM"  class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="timefrom"  required="" value=""><span class="b-dash">-</span><input type="text" data-format="HH:mm PP" value="09:00AM"  class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="timefrom"  required="" value=""><span class="add-on"><i class="icon  icon-clock"></i></span>
													</div>
												</div>
												<div class="form-group row">
													<label for="location" class="col-sm-2 control-label">Location</label>
													<div class="col-sm-10 inp-location">
													<input type="text" class="form-control  ng-pristine ng-valid ng-valid-required ng-touched" id="location"  name="location" required="" placeholder="Add location"><span class="add-on"><i class="icon  icon-location"></i></span>
													</div>
												</div>
												<hr/>
												<div class="form-group">
													<label>Add Applicants</label>
													<span class="b-upload_file"><a href="#" class="b-upload"><span>+</span></a></span>
													<div class="loaded-file" data-id="1534135956317186"><a href="#"><img src="images/pic_01.jpg" height="25" width="25" class="img-circle">Warren Mayers</a><a href="#" class="remove"></a></div>

												</div>
												<div class="form-group">
													<label>Add Interviewers</label>
													<span class="b-upload_file"><a href="#" class="b-upload"><span>+</span></a></span>
													<div class="loaded-file" data-id="1534135956317186"><a href="#"><img src="images/pic_01.jpg" height="25" width="25" class="img-circle">John Someone</a><a href="#" class="remove"></a></div>
													<div class="loaded-file" data-id="1534135956317186"><a href="#"><img src="images/pic_01.jpg" height="25" width="25" class="img-circle">Matthew Cowles</a><a href="#" class="remove"></a></div>

												</div>
											</div>
											<div class="modal-footer">
												<button type="submit" class="b-button">Save</button>
												<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel">Cancel</button>
											</div>
										</form>
							</div>
						  </div>
						</div>
					  </div>
					</div>
			<!-- /Modal -->
				<!-- Modal -->
					<div class="modal fade" id="session_common" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
							<div class="b-modal">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Create Interview Session</h4>
										</div>
										<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
											<div class="modal-body container-fluid">
												<div class="form-group row">
													<label class="col-sm-4 control-label">Session type</label>
													<div class="col-sm-8 input-group inp-prgtour input-append">
														<input type="text"  value="Program Tour" class="form-control"><span class="add-on"><i class="icon  icon-calendar"></i></span>
													</div>
												</div>
												<div class="form-group row">
													<label for="date" class="col-sm-4 control-label">Date</label>
													<div class="col-sm-8 input-group date input-append" id="date">
														<input type="text" data-format="dd/mm/yyyy"  value="04/26/2015" class="form-control"><span class="add-on"><i class="icon  icon-calendar"></i></span>
													</div>
												</div>
												<div class="form-group row">
													<label for="timefrom" class="col-sm-4 control-label">Interview time</label>
													<div class="col-sm-8 timepicker input-append time_period">
													<input type="text" data-format="HH:mm PP" value="08:00AM"  class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="timefrom"  required="" value=""><span class="b-dash">-</span><input type="text" data-format="HH:mm PP" value="09:00AM"  class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="timefrom"  required="" value=""><span class="add-on"><i class="icon  icon-clock"></i></span>
													</div>
												</div>
												<div class="form-group row">
													<label for="location" class="col-sm-2 control-label">Location</label>
													<div class="col-sm-10 inp-location">
													<input type="text" class="form-control  ng-pristine ng-valid ng-valid-required ng-touched" id="location"  name="location" required="" placeholder="Add location"><span class="add-on"><i class="icon  icon-location"></i></span>
													</div>
												</div>
												<hr/>
												<div class="form-group">
													<label>Add Applicants</label>
													<span class="b-upload_file"><a href="#" class="b-upload"><span>+</span></a></span>
													<div class="loaded-file" data-id="1534135956317186"><a href="#"><img src="images/pic_01.jpg" height="25" width="25" class="img-circle">Warren Mayers</a><a href="#" class="remove"></a></div>

												</div>
												<div class="form-group">
													<label>Add Interviewers</label>
													<span class="b-upload_file"><a href="#" class="b-upload"><span>+</span></a></span>
													<div class="loaded-file" data-id="1534135956317186"><a href="#"><img src="images/pic_01.jpg" height="25" width="25" class="img-circle">John Someone</a><a href="#" class="remove"></a></div>
													<div class="loaded-file" data-id="1534135956317186"><a href="#"><img src="images/pic_01.jpg" height="25" width="25" class="img-circle">Matthew Cowles</a><a href="#" class="remove"></a></div>

												</div>
											</div>
											<div class="modal-footer">
												<button type="submit" class="b-button">Save</button>
												<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel">Cancel</button>
											</div>
										</form>
							</div>
						  </div>
						</div>
					  </div>
					</div>
			<!-- /Modal -->
			<!-- Modal -->
					<div class="modal fade" id="edit_event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
							<div class="b-modal">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Create Event</h4>
											<p class="b-warn"><span class="icon  icon-alert"></span>Warning message about editing information in Event which is currently has apllicants signed up and interview scheduling.</p>
										</div>
										<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
											<div class="modal-body js-scroll container-fluid">
												<div class="form-group">
													<label for="EventTitle">Event Title</label>
													<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="EventTitle" placeholder="Type Event Title" value="Interview Date Title" required="" autofocus="">
												</div>
												<div class="form-group row">
													<label for="date" class="col-sm-2 control-label">Date</label>
													<div class="col-sm-10 input-group date input-append" id="date">
														<input type="text" data-format="dd/mm/yyyy" value="04/26/2015" class="form-control"><span class="add-on"><i class="icon warn-color icon-calendar"></i></span>
													</div>
												</div>
												<div class="row">
												<div class="form-group col-sm-6">
													<label for="timefrom" class="col-sm-2 control-label">From</label>
													<div class="col-sm-10 timepicker input-append">
													<input type="text" data-format="HH:mm PP" value="08:00AM" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="timefrom"  required=""><span class="add-on"><i class="icon  warn-color icon-clock"></i></span>
													</div>
												</div>
												<div class="form-group col-sm-6">
													<label for="timeto" class="col-sm-2 control-label">To</label>
													<div class="col-sm-10 timepicker input-append">
													<input type="text" data-format="HH:mm PP" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="timeto"  required="" value="05:00PM"><span class="add-on"><i class="icon warn-color icon-clock"></i></span>
													</div>
												</div>
												</div>
												<div class="form-group row">
													<label for="location" class="col-sm-2 control-label">Location</label>
													<div class="col-sm-10 inp-location">
													<input type="text" class="form-control  ng-pristine ng-valid ng-valid-required ng-touched" id="location" value="Campus" name="location" required="" placeholder="Add location"><span class="add-on"><i class="icon  icon-location"></i></span>
													</div>
												</div>
												<div class="panel">
													<span data-toggle="collapse" data-target="#tierinfo" class="b-name">Tier Interview Slots Distribution Setup <span class="num">7 of 16</span></span>
													<div  id="tierinfo" class="collapse in">
														<table>
															<tr>
																<th>Track / Name</th>
																<th>Tier I</th>
																<th>Tier II</th>
																<th>Tier III</th>
																<th>Custom <br/>Tier 1</th>
																<th>Total <br/>by TRack</th>
															</tr>
															<tr>
																<td><span class="b-defualt">Tr 1</span>Neurology</td>
																<td>5</td>
																<td><span class="warn-color">3</span></td>
																<td>0</td>
																<td>0</th>
																<td ng-model="tot1">8</td>
															</tr>
															<tr>
																<td><span class="b-defualt">Tr 2</span>Pediatrics</td>
																<td><input type="number" class="form-control" ng-model="name1" name="name3" required="" placeholder="0"></td>
																<td><input type="number" class="form-control" ng-model="name2"  name="name2" required="" placeholder="0"></td>
																<td><input type="number" class="form-control" ng-model="name3"  name="name1" required="" placeholder="0"></td>
																<td>0</th>
																<td ng-model="tot2">{{name1+name2+name3}}</td>
															</tr>
															<tr>
																<td><span class="b-defualt">Tr 3</span>Anesthesiol…</td>
																<td><span class="warn-color">2</span></td>
																<td><span class="warn-color">2</span></td>
																<td>0</td>
																<td>0</th>
																<td ng-model="tot1"><span class="warn-color">4</span></td>
															</tr>
															<tr>
																<td><span class="b-defualt">Tr N</span>Pediatrics/…</td>
																<td>2</td>
																<td>2</td>
																<td>0</td>
																<td>0</th>
																<td ng-model="tot1">4</td>
															</tr>
															<tr>
																<td colspan="5">TOTAL NUMBER OF SLOTS</td>
																<td>16</td>
															</tr>
														</table>
													</div>
												</div>
												<div class="form-group row">
													<label class="col-sm-4 control-label">description</label>
													<div class="col-sm-8">
														<label>You can add description to the Event</label>
														<span class="switch"><input data-toggle="collapse" data-target="#description" checked="checked" type="checkbox"><i></i></span>
													</div>
												</div>
												<div class="form-group collapse in" id="description">
														<textarea  class="form-control">Students in all of UW Neurology education programs benefit from faculty members who are dedicated teachers and mentors to the next generation of neurologists. .</textarea>
													
												</div>
												<div class="form-group row">
													<label class="col-sm-4 control-label">Attachment</label>
													<div class="col-sm-8">
														<label>Upload attachment to the Event</label>
														<span class="switch"><input data-toggle="collapse" data-target="#Attachment"  checked="checked" type="checkbox"><i></i></span>
													</div>
												</div>
												<div class="form-group collapse in" id="Attachment">
														<span class="b-upload_file hidden"><input type="file" class="opaque" name="name" id="1534135956317186"/>
														<a href="#" class="b-upload"><span>+</span></a></span>
														<span class="b-upload_file"><input type="file" class="opaque" name="files[]" id=""/>
														<a href="#" class="b-upload"><span>+</span></a></span>
														<div class="loaded-file" data-id="1534135956317186"><a href="#" class="link_pdf">Attachment.pdf</a><a href="#" class="remove"></a></div>
												</div>
											</div>
											<div class="modal-footer">
												<button type="submit" class="b-button">Create</button>
												<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel">Cancel</button>
											</div>
										</form>
							</div>
						  </div>
						</div>
					  </div>
					</div>
			<!-- /Modal -->
						<!-- Modal -->
					<div class="modal fade" id="detalis_event" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
							<div class="b-modal">
										<div class="modal-header container-fluid">
											<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Details: Interview Date</h4>
											<div class="b-info_detalis row">
												<div class="col-xs-12 col-md-8">26 Apr 2015: 08:00AM—05:00PM</div>
												<div class="col-xs-12 col-md-4">
													<span class="form-group">
														<a href="#" class="lnk_left"><span class="ico icon-navigateleft"></span></a>
														<a href="#" class="lnk_right"><span class="ico icon-navigateright"></span></a>
													</span>
													<a href="#" class="lnk_print"><span class="ico icon-fax"></span></a>
												</div>
											</div>
										</div>
										<div class="modal-body b-detalis container-fluid js-scroll">
												<div class="form-group row">
													<label class="col-sm-6 control-label">Applicants Signed Up <span class="num">7 of 12</span></label><!--class="col-sm-6 control-label full" if num 12 of 12-->
													<div class="col-sm-6">
														<label>Group by Tiers</label>
														<span class="switch"><input data-toggle="collapse" data-target="#Applicants"  type="checkbox"><i></i></span>
													</div>
												</div>
												<div  id="Applicants" class="collapse ">
													<div class="panel">
													<span data-toggle="collapse" data-target="#waitinfo1" class="b-name collapsed">Tier 1 Interview Slots<img src="images/pic_01.jpg" height="20" width="20" class="img-circle"><img src="images/pic_01.jpg" height="20" width="20" class="img-circle"><img src="icons/pix.gif" height="20" width="20" class="img-circle"><img src="icons/pix.gif" height="20" width="20" class="img-circle"><span class="descr">4 slots: 2 occupied</span></span>
													<div  id="waitinfo1" class="collapse">
														<ul class="user_info">
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>
															<li class="empty_user">
																<div class="avatar">
																	<a href="#">
																		<img src="icons/pix.gif" height="40" width="40" class="img-circle">
																		<span class="name">Empty <br/>Slot</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"></div>
															</li>
														</ul>
													</div>
													</div>
													<div class="panel">
													<span data-toggle="collapse" data-target="#waitinfo2" class="b-name collapsed">Tier 2 Interview Slotst<img src="images/pic_01.jpg" height="20" width="20" class="img-circle"><img src="images/pic_01.jpg" height="20" width="20" class="img-circle"><img src="icons/pix.gif" height="20" width="20" class="img-circle"><img src="icons/pix.gif" height="20" width="20" class="img-circle"><span class="descr">4 slots: 2 occupied</span></span>
													<div  id="waitinfo2" class="collapse">
														<ul class="user_info">
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>
														</ul>
													</div>
													</div>
													<div class="panel">
													<span data-toggle="collapse" data-target="#waitinfo3" class="b-name collapsed">Tier 3 Interview Slotst<img src="images/pic_01.jpg" height="20" width="20" class="img-circle"><img src="images/pic_01.jpg" height="20" width="20" class="img-circle"><img src="icons/pix.gif" height="20" width="20" class="img-circle"><img src="icons/pix.gif" height="20" width="20" class="img-circle"><span class="descr">4 slots: 2 occupied</span></span>
													<div  id="waitinfo3" class="collapse">
														<ul class="user_info">
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>
														</ul>
													</div>
													</div>
													<div class="panel">
													<span data-toggle="collapse" data-target="#waitinfo4" class="b-name collapsed">Tier 4 Interview Slotst<img src="images/pic_01.jpg" height="20" width="20" class="img-circle"><img src="images/pic_01.jpg" height="20" width="20" class="img-circle"><img src="icons/pix.gif" height="20" width="20" class="img-circle"><img src="icons/pix.gif" height="20" width="20" class="img-circle"><span class="descr">4 slots: 2 occupied</span></span>
													<div  id="waitinfo4" class="collapse">
														<ul class="user_info">
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>
														</ul>
													</div>
													</div>
												</div>
												<ul class="user_info">
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Neurology Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Neurology Categorical</div>
																<div class="info">— No Interview scheduled</div>
															</li>
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Neurology Categorical</div>
																<div class="info">— No Interview scheduled</div>
															</li>
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info">— No Interview scheduled</div>
															</li>
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>	<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info">— No Interview scheduled</div>
															</li>	<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">2:00PM—3:30PM</span> Interview with <a href="#">John Someone</a></div>
															</li>	
												</ul>
												
												<div class="panel">
													<span data-toggle="collapse" data-target="#waitinfo" class="b-name collapsed">Waiting List<span class="descr">2 Applicants are waiting</span></span>
													<div  id="waitinfo" class="collapse">
														<ul class="user_info">
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">Queue # 1</span></div>
															</li>
															<li>
																<div class="avatar">
																	<a href="#">
																		<span class="b-tier">T1</span>
																		<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
																		<span class="name">John  <br/>Someone</span>
																	</a>
																</div>
																<div class="category">Pediatrics/Anesthesiology: <br/>Categorical</div>
																<div class="info"><span class="time">Queue # 1</span></div>
															</li>
														</ul>
													</div>
												</div>
												<div class="panel"><!--class="panel empty_panel" if panel is empty-->
													<span data-toggle="collapse" data-target="#destrinfo" class="b-name collapsed">Distribution</span>
													<div  id="destrinfo" class="collapse">
														<div class="b-info_progress">
															<div class="b-progress_item">
																<div>
																	<span class="name">Male</span>
																	<span class="b-prog"><span class="progressing" style="width:30%;"></span><span class="num">3</span></span>
																</div>
																<div>
																	<span class="name">Female</span>
																	<span class="b-prog"><span class="progressing" style="width:60%;"></span><span class="num">4</span></span>
																</div>
															</div>
															<div class="b-progress_item">
																<div>
																	<span class="name">Tier I</span>
																	<span class="b-prog"><span class="progressing" style="width:30%;"></span><span class="num">2</span></span>
																</div>
																<div>
																	<span class="name">Tier II</span>
																	<span class="b-prog"><span class="progressing" style="width:60%;"></span><span class="num">3</span></span>
																</div>
																<div class="empty">
																	<span class="name">Tier III</span>
																	<span class="b-prog"><span class="progressing" style="width:30%;"></span><span class="num">0</span></span>
																</div>
																<div>
																	<span class="name">Tier AOA</span>
																	<span class="b-prog"><span class="progressing" style="width:60%;"></span><span class="num">2</span></span>
																</div>
															</div>
															<div class="b-progress_item">
																<div>
																	<span class="name">Total</span>
																	<span class="b-prog"><span class="progressing" style="width:90%;"></span><span class="num">7</span></span>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="panel">
													<h2>Description</h2>
													<p>Students in all of UW Neurology education programs benefit from faculty members who are dedicated teachers and mentors to the next generation of neurologists. Excellent teaching is offered to medical students, graduate students, and residents and fellows training in hospitals or clinics. Residents train under some of the nation's top clinicians, educators, and researchers.</p>
												</div>
												<div class="panel">
													<h2>Attachments</h2>
													<div class="b-file_info">
														<span class="icon icon-file"></span>
														<span>
															<strong class="name">Name of the Document</strong>
															April 24, 2015 • PDF • 450Kb
														</span>
													</div>
												</div>
										</div>
										<div class="modal-footer">
											<a href="#" class="b-button">Edit</a>
											<a data-dismiss="modal" ng-click="cancel()" href="#" class="b-button b-cancel">Close</a>
										</div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
			<!-- /Modal -->
			<!-- Modal -->
					<div class="modal fade" id="choose_role" tabindex="-1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
					  <div class="modal-dialog">
						<div class="modal-content">
							<div class="b-modal w440">
										<div class="modal-header container-fluid">
											<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
											<h4 class="modal-title" id="myModalLabel">Choose Role to Open</h4>
											<div class="info-descr"><span class="icon icon-info"></span> Please select which role assosiated with your user profile we need to open now. To save your choice for the future put the switcher “use selected role by default” on.</div>
											
										</div>
											<div class="modal-body b-detalis container-fluid js-scroll">
												<div class="b-profile_user">
													<div class="b-avatar_img"><img src="images/pic_02.jpg" class="img-circle" height="100" width="100" alt="" ></div>
													<div class="b-profile">
														<span class="name">Patricia Oakes</span>
														MD, JD
														<div class="contacts">
															<a href="#">Richard.Webber@greysloanmem.edu</a>
															<span class="phone">+1 (475) 555-5566</span>
														</div>
													</div>
												</div>
												
													<div class="b-prof_roles">
													<label class="b-user_role active" ng-class="{active:user1.checked}">
														<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
														<span class="b-user_name">
															<span class="name">System Admin</span>
															<b class="b-job">Thalamus System</b>
														</span>
													<div class="jq-checkbox checked" role="checkbox" ng-checked="user.checked" ng-class="{checked: user1.checked}" ng-click="user1.checked = !user1.checked">
														<div class="jq-checkbox__div">&#xe614</div>
												 </div></label>
													<label class="b-user_role" ng-class="{active:user2.checked}">
														<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
														<span class="b-user_name">
															<span class="name">Interviewer</span>
															<b class="b-job">Harvard Medical School</b>
														</span>
													
													<div class="jq-checkbox" role="checkbox" ng-checked="user2.checked" ng-class="{checked: user2.checked}" ng-click="user2.checked = !user2.checked">
                                    <div class="jq-checkbox__div">&#xe614</div>
                             </div></label>
													<label class="b-user_role" ng-class="{active:user3.checked}">
														<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
														<span class="b-user_name">
															<span class="name">Applicant</span>
															<b class="b-job">Archived</b>
														</span>
													
													<div class="jq-checkbox" role="checkbox" ng-checked="user3.checked" ng-class="{checked: user3.checked}" ng-click="user3.checked = !user3.checked">
                                    <div class="jq-checkbox__div">&#xe614</div>
                             </div></label>
												</div>
												
												<div class="form-group row">
													<label class="col-sm-10">Use selected Role by Default</label>
													<div class="col-sm-2">
														<span class="switch"><input ng-model="user.defualt" type="checkbox"><i></i></span>
													</div>
												</div>
											</div>
											<div class="modal-footer">
												<a href="#" class="b-button">Apply</a>
												<a data-dismiss="modal" ng-click="cancel()" href="#" class="b-button b-cancel">View Profile</a>
											</div>
							</div>
						  </div>
						</div>
					  </div>
					</div>
			<!-- /Modal -->







