<header id="header" class="b-header b-header_auth">
	<nav id="main-menu" class="b-header__nav-wrapper">
		<div class="container-fluid">
			<a href="#/" class="b-logo">
				<img src="icons/logo.png" alt="Thalamus">
			</a>
			<!-- - основное меню-->
			<ul class="nav b-main-menu">
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/dashboard">Dashboard</a>
				</li>
				<li class="menuitem active dropdown" >
					<a  class="dropdown-toggle" data-toggle="dropdown">Program</a>
					<ul class="dropdown-menu" role="menu">
						<li role="presentation"><a role="menuitem" href="#/program/empty" >Program empty</a></li>
						<li role="presentation"><a role="menuitem" href="#/program" >Init Program</a></li>
						<li role="presentation"><a role="menuitem" href="#/program/season" >Season 2015</a></li>
					 </ul>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/administration">Administration</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/calendar">Calendar</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/applicants">Applicants</a>
				</li>
				<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/documents">Documents</a>
				</li>
			</ul>
			<div class="b-user">
				<span class="dropdown">
					<a href="" class="b-prof" data-toggle="dropdown">
						<span class="b-user_name">
							<span class="name">System Admin</span>
							<b class="b-job">Thalamus System</b>
						</span>
						<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
					</a>
					<div class="dropdown-menu dropdown-menu-right" role="menu">
						<div class="b-profile">
							<img src="images/pic_01.jpg" height="80" width="80" class="img-circle">
							<div class="b-info">
								<span class="my-user">My user Profile</span>
								<span class="name">Patricia Oakes</span>
								<a href="#">View Profile</a>
								<a href="#" class="but_out">Sign out</a>
							</div>
						</div>
						<div class="b-prof_roles">
							<span class="my-user">My Granted Roles</span>
							<a href="#" class="b-user_role active">
								<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
								<span class="b-user_name">
									<span class="name">System Admin</span>
									<b class="b-job">Thalamus System</b>
								</span>
							</a>
							<a href="#" class="b-user_role">
								<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
								<span class="b-user_name">
									<span class="name">Interviewer</span>
									<b class="b-job">Harvard Medical School</b>
								</span>
							</a>
							<a href="#" class="b-user_role">
								<img src="images/pic_01.jpg" height="40" width="40" class="img-circle">
								<span class="b-user_name">
									<span class="name">Applicant</span>
									<b class="b-job">Archived</b>
								</span>
							</a>
						</div>
					</div>
				</span>
				<a href="#" class="b-mess">&#xe661</a>
				<a href="#" class="b-dzn">&#xe670</a>
			</div>		
		</div>
	</nav>
</header>
<div class="p-program">
	<div class="b-content">
		<div class="fc-toolbar clearfix">
			<div class="b-btn-toolbar leftSet">
				<div class="btn-group fc-button-group">
					<button class="btn btn-default" data-target="#new-prog" data-toggle="modal"><span class="iconBtn">No Active Season</span></button><button class="btn btn-success"><span class="iconBtn">&#xe60e</span></button>
				</div>
			</div>
			<div class="pTitle">UW Neurology Residency Program</div>
			<div class="b-btn-toolbar">
				<div class="btn-group fc-button-group">
					<div>
						<button class="btn btn-success"><span>Preview program</span></button>
					</div>
				</div>
				<div class="btn-group fc-button-group">
					<div>
						<button class="btn btn-success inverce" data-target="#pub-prog" data-toggle="modal"><span>Publish program</span></button>
					</div>
				</div>
			</div>
		</div>
		<div class="p-content clearfix">
			<div class="col-sm-9 leftCol clearfix">
				<div class="pi col-sm-12 initProg p-empty">
					<div class="p-item">
						<div class="p-itemTitle">Program Initial Parameters
							<div class="b-btn-toolbar innerBtn">
								<button class="btn btn-success inverse saveBtn"><span class="iconBtn icon-check"></span>&nbsp;<span>Save</span></button><button class="btn btn-success editBtn"><span class="iconBtn icon-write"></span></button>
							</div>
						</div>
						<div class="p-itemContent clearfix bb">
							<div class="col-sm-6">
								<div class="row"><dl class="col-sm-3"><dt>ACGME ID</dt><dd>2409837898</dd></dl><dl class="col-sm-9"><dt>Program Name</dt><dd>UW Neurology Residency Program</dd></dl></div>
								<div class="row"><dl class="col-sm-9"><dt>Institution</dt><dd>University of Washington Scholl of Medicine (UWSOM)</dd></dl></div>
							</div>
							<div class="col-sm-6">
								<div class="col-sm-12 padding14"><dl><dt class="col-sm-6">Program Status</dt><dd class="col-sm-6">Disabled (Not published)</dd></dl></div>
								<div class="col-sm-12 padding14"><dl><dt class="col-sm-6">Universal Application</dt><dd class="col-sm-6">Disabled</dd></dl></div>
								<div class="col-sm-12 padding14"><dl><dt class="col-sm-6">Document Management</dt><dd class="col-sm-6"><label>Disabled</label><span class="switch hidden"><input
								type="checkbox"><i></i></span></dd></dl></div>
							</div>
						</div>
						<div class="p-itemContent clearfix bbGray">
							<div class="col-sm-6">
								<dl class="col-sm-3"><dt>NRMP #</dt></dl><dl class="col-sm-9"><dt>Speciality</dt></dl>
							</div>
							<div class="col-sm-6 padding14">
								<dl><dt>NRMP Residency Spots</dt></dl>
							</div>
						</div>
						<div class="p-itemContent clearfix bbGray editable">
							<div class="col-sm-6">
								<div class="row"><dl class="col-sm-3"><dd><span class="wysiwigBody">-</span></dd></dl><dl class="col-sm-9"><dd class="thin"><span class="wysiwigBody">-</span></dd></dl></div>
							</div>
							<div class="col-sm-3">
								<div class="row"><dl><dd><span>Inside Match:&nbsp;</span><span class="wysiwigBody">-</span></dd></dl></div>
							</div>
							<div class="col-sm-3">
								<div class="row"><dl><dd><span>Outside Match:&nbsp;</span><span class="wysiwigBody">-</span></dd></dl><i class="deleteBtn icon-delete hidden"></i></div>
							</div>
						</div>
						<div class="p-itemContent clearfix bbGray editable">
							<a href="#"><i class="icon-plus"></i>&nbsp; Add New Speciality</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-3 rightCol clearfix">
				<div class="p-item done">
					<div class="p-itemTitle">About Program</div>
					<div class="b-btn-toolbar">
						<i class="icon icon-info"></i> <span>Start from creating your first Program Season by pressing a button below</span>
						<button class="btn btn-success"><span>Create New Season</span></button>
					</div>
				</div>
				<div class="p-item">
					<div class="p-itemTitle">Program Administration</div>
					<div class="p-itemContent">
						<div class="itemList">
							<dl><dt><img src="images/pic_01.jpg" height="40" width="40" class="img-circle"></dt><dd>Programm Administrator<br/><a href="#">Stella White</a><br/><span>&nbsp;</span></dd></dl>
						</div>
					</div>
					<div class="b-btn-toolbar">
						<button class="btn btn-success"><span>Manage Administration</span></button>
					</div>
				</div>
				<div class="p-item">
					<div class="p-itemTitle">Program Documents</div>
					<div class="p-itemContent">
						<div class="items itemList">
							<em>No documents to show</em>
						</div>
						<div class="items itemList hidden">
							<dl><dt><i class="icon-file"></i></dt><dd><a href="#">Basic Info</a><br/><span>Apr 24, 2015</span>&nbsp;&#65381&nbsp;<span>PDF</span>&nbsp;&#65381&nbsp;<span>1.2 Mb</span></dd></dl>
							<dl><dt><i class="icon-file"></i></dt><dd><a href="#">Basic Info</a><br/><span>Apr 24, 2015</span>&nbsp;&#65381&nbsp;<span>PDF</span>&nbsp;&#65381&nbsp;<span>1.2 Mb</span></dd></dl>
						</div>
					</div>
					<div class="b-btn-toolbar">
						<button class="btn btn-success"><span>Manage Document Storage</span></button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<footer id="footer">
	<div class="b-footer-wrapper">
		<div class="container-fluid b-footer-aboutme">
			<div class="row">
                        <div class="col-xs-12 col-md-3 pull-right">
                            <div class="b-footer-soc">
                                <ul class="b-footer_link">
                                    <li><a href="https://twitter.com/thalamusgme" target="_blank" class="soc_tw"></a></li>
                                    <li><a href="https://www.linkedin.com/company/thalamusgme" target="_blank" class="soc_in"></a></li>
                                    <li><a href="https://www.facebook.com/thalamusgme" target="_blank" class="soc_fb"></a></li>
                                    <li><a href="https://www.youtube.com/channel/UCWI0_Ip5Ie-aDpjnCa8xBvw" target="_blank" class="soc_yt"></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-9">
                            <div class="b-footer-copy">
                                <p>
                                    © SJ MedConnect Inc. 2015.&nbsp;&nbsp;&nbsp;
                                    <a href="/termsOfUse">Terms of Service</a>
                                    <span class="b-color_grey">|</span>
                                    <a href="/privacyPolicy">Privacy Policy</a>
                                    <span class="b-color_grey">|</span>
                                    Version: 1.0.0.37396
                                    <span class="b-color_grey">|</span>
                                    Created: 16.10.2015 18:46:33 UTC
                                </p>
                            </div>
                        </div>
                    </div>
			</div>
		</div>
	</div>
</footer>
<!-- /Modal -->
<div class="modal fade" id="new-prog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel1" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="b-modal">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel1">Create Program Season</h4>
					</div>
					<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
						<div class="modal-body js-scroll container-fluid">
							<div class="form-group row ">
								<label class="col-sm-6 control-label">Name of The Season</label>
								<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="seasonName" placeholder="Type Name, e.g. Residency 2015" required="" autofocus="" value="">
							</div>
							<div class="form-group row pupMenu">
								<label class="col-sm-3 control-label">Date From</label>
								<div class="col-sm-9">
								<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="dateFrom"  name="dateFrom" required="" placeholder="" value="04/26/2015"><span class="m-icon">
									<i class="icon icon-calendar"></i>
								</div>
							</div>
							<div class="form-group row pupMenu">
								<label class="col-sm-3 control-label">Date To</label>
								<div class="col-sm-9">
								<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="dateTo"  name="dateTo" required="" placeholder="" value="04/26/2015"><span class="m-icon">
									<i class="icon icon-calendar"></i>
								</span>
								</div>
							</div>
							<div class="form-group row pupMenu">
								<label class="col-sm-4 control-label">Schedule lock period</label>
								<div class="col-sm-8">
								<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" id="dateTo"  name="lockPer" required="" placeholder="" value="72h"><span class="m-icon">
									<i class="icon"></i>
								</span>
								</div>
							</div>
							<div class="switcher form-group row pupMenu">
								<label class="col-sm-10 control-label">Copy Base Program Data from Previouse Year (if Applicable)</label>
								<div class="col-sm-2 text-right">
									<span class="switch pull-right"><input type="checkbox" checked><i></i></span>
								</div>
							</div>
						</div>
						<div class="modal-footer">
							<button type="submit" class="b-button">Create</button>
							<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel">Cancel</button>
						</div>
						
					</form>
		</div>
	  </div>
	</div>
  </div>

<!-- /Modal -->
<div class="modal fade" id="pub-prog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
	<div class="modal-content">
		<div class="b-modal p-program">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
				<h4 class="modal-title" id="myModalLabel2">Program Preview</h4>
				<div class="modal-title-img" ng-style="{'background-image': 'url(&quot;images/program-bgimage-default.jpg&quot;)'}">
					<div class="modal-title-content clearfix">
						<div class="col-sm-8 b-btn-toolbar">
							<h2>UW Neurology Residency Program</h2>
							<div>
								<button class="btn btn-line"><span>Add to My Program</span></button>
							</div>
						</div>
						<div class="program-logo pull-right" ng-style="{'background-image': 'url(&quot;images/program-logo-default.jpg&quot;)'}"></div>
					</div>
				</div>
			</div>
			<form class="b-form ng-pristine ng-valid ng-valid-required" role="form" method="post" data-ng-submit="">
				<div class="modal-body container-fluid">
					<div class="row p-content clearfix">
						<div class="col-sm-8 leftCol clearfix">
							<div class="pi row initProg">
								<div class="p-item">
									<div class="p-itemTitle">Program Initial Parameters</div>
									<div class="p-itemContent clearfix bb">
										<div class="col-sm-12">
											<dl class="col-sm-3"><dt>ACGME ID</dt><dd>2409837898</dd></dl><dl class="col-sm-9"><dt>Program Name</dt><dd>UW Neurology Residency Program</dd></dl>
											<dl class="col-sm-9"><dt>Institution</dt><dd>University of Washington Scholl of Medicine (UWSOM)</dd></dl>
										</div>
									</div>
									<div class="p-itemContent clearfix registerBox">
										<div class="col-sm-12 clearfix b-btn-toolbar">
											<div class="col-sm-8"><dl><dt>1000140CO</dt><dd>Neurology Advanced</dd></dl></div>
											<div class="col-sm-4 btn-group pull-right"><button class="btn btn-line"><span>Register</span></button></div>
										</div>
										<div class="col-sm-12 clearfix b-btn-toolbar">
											<div class="col-sm-8"><dl><dt>1000140CO</dt><dd>Neurology Advanced</dd></dl></div>
											<div class="col-sm-4 btn-group pull-right"><button class="btn btn-line"><span>Register</span></button></div>
										</div>
										<div class="col-sm-12 clearfix b-btn-toolbar">
											<div class="col-sm-8"><dl><dt>1000140CO</dt><dd>Neurology Advanced</dd></dl></div>
											<div class="col-sm-4 btn-group pull-right"><button class="btn btn-line"><span>Register</span></button></div>
										</div>
										<div class="col-sm-12 clearfix b-btn-toolbar">
											<div class="col-sm-8"><dl><dt>1000140CO</dt><dd>Neurology Advanced</dd></dl></div>
											<div class="col-sm-4 btn-group pull-right"><button class="btn btn-line"><span>Register</span></button></div>
										</div>
									</div>
									<div class="p-itemTitle">About Program</div>
									<div  class="p-itemContent clearfix aboutProg bbGray">
										Student in all of UW Neurology educations programs benefit Student in all of UW Neurology educations programs benefit Student in all of UW Neurology educations programs benefit...<br/>
										<a href="#"><small>Read more</small></a>
									</div>
									<div class="p-itemTitle bNone">Contacts and Travel</div>
									<div class="p-itemContent clearfix col-sm-12 bbGray">
										<ul class="nav b-main-menu">
											<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/dashboard">Contacts</a></li>
											<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/administration">Map</a></li>
											<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/calendar">Weather</a></li>
											<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/applicants">Hotels</a></li>
											<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/documents">Restaurant</a></li>
											<li class="menuitem"><a role="menuitem" tabindex="-1" href="#/documents">Taxi</a></li>
										</ul>
									</div>
									<div class="p-itemContent col-sm-12 clearfix conTrav">
										<div class="col-sm-6"><dl><dt>Address</dt><dd><a href="#">1959 NE Pasific St. Seattle WA 98195-6465</a></dd></dl></div>
										<div class="col-sm-6"><dl><dt>Primary Admin E-mail</dt><dd><a href="#">stellad@uw.edu</a></dd></dl></div>
										<div class="col-sm-6"><dl><dt>Phone</dt><dd><a href="#">+1 (206) 616-5207</a></dd></dl></div>
										<div class="col-sm-6"><dl><dt>Secondary Admin Email</dt><dd><a href="#">stellad@uw.edu</a></dd></dl></div>
										<div class="col-sm-6"><dl><dt>Home Airport</dt><dd>Seattle-Tacoma International Airport (<a href="#">SEA</a>)</dd></dl></div>
										<div class="col-sm-6"><dl><dt>Web site</dt><dd><a href="#">http://depts.washington.edu</a></dd></dl></div>
										<div class="col-sm-6"><dl><dt>Time zone</dt><dd>PDT ( <span class="light">UTC-07:00</span> )</dd></dl></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4 rightCol clearfix">
							<div class="p-item">
								<div class="p-itemTitle">About Program</div>
								<div class="b-btn-toolbar hidden">
									<i class="icon icon-info"></i> <span>Start from creating your first Program Season by pressing a button below</span>
									<button class="btn btn-success tH"><span>Create New Season</span></button>
								</div>
								<div class="p-itemContent schedule">
									<dl><dt>Current</dt><dd><a href="#">Oct, 16, 2015 - Apr, 23, 2016</a></dd></dl>
									<ul class="cal clearfix">
										<li><div class="active"><span>2015</span><a href="#">May</a><span>5/19/15</span></div></li>
										<li><div class="mute"><span>&nbsp;</span>June<span>&nbsp;</span></div></li>
										<li><div class="mute"><span>&nbsp;</span>Jul<span>&nbsp;</span></div></li>
										<li><div class="mute"><span>&nbsp;</span>Aug<span>&nbsp;</span></div></li>
										<li><div class="mute"><span>&nbsp;</span>Sep<span>&nbsp;</span></div></li>
										<li><div><span>&nbsp;</span>Oct<span>&nbsp;</span></div></li>
										<li><div><span>&nbsp;</span>Nov<span>&nbsp;</span></div></li>
										<li><div><span>&nbsp;</span>Dec<span>&nbsp;</span></div></li>
										<li><div><span>2016</span>Jan<span>&nbsp;</span></div></li>
										<li><div><span>&nbsp;</span>Feb<span>&nbsp;</span></div></li>
										<li><div><span>&nbsp;</span>Mar<span>3/27/16</span></div></li>
										<li><div class="mute"><span>&nbsp;</span>Apr<span>&nbsp;</span></div></li>
									</ul>
									<div class="b-btn-toolbar">
										<button class="btn btn-success tH"><span>Manage Schedule</span></button>
									</div>
								</div>
							</div>
							<div class="p-item">
								<div class="p-itemTitle">Program Administration</div>
								<div class="p-itemContent">
									<div class="itemList">
										<dl><dt><img src="images/pic_01.jpg" height="40" width="40" class="img-circle"></dt><dd>Programm Director<br/><a href="#">Stella White</a><br/><span>Assistent professor of Neurology</span></dd></dl>
										<dl><dt><img src="images/pic_01.jpg" height="40" width="40" class="img-circle"></dt><dd>Programm Administrator<br/><a href="#">Stella White</a><br/><span>&nbsp;</span></dd></dl>
										<dl><dt><img src="images/pic_01.jpg" height="40" width="40" class="img-circle"></dt><dd>Associate Programm Director<br/><a href="#">Stella White, MDM</a><br/><span>Acting Assistent Professor of Neurology</span></dd></dl>
									</div>
								</div>
								<div class="b-btn-toolbar">
									<button class="btn btn-success"><span>Manage Administration</span></button>
								</div>
							</div>
							<div class="p-item">
								<div class="p-itemTitle">Program Documents</div>
								<div class="p-itemContent">
									<div class="itemList">
										<dl><dt><i class="icon-file"></i></dt><dd><a href="#">Basic Info</a><br/><span>Apr 24, 2015</span>&nbsp;&#65381&nbsp;<span>PDF</span>&nbsp;&#65381&nbsp;<span>1.2 Mb</span></dd></dl>
										<dl><dt><i class="icon-file"></i></dt><dd><a href="#">Basic Info</a><br/><span>Apr 24, 2015</span>&nbsp;&#65381&nbsp;<span>PDF</span>&nbsp;&#65381&nbsp;<span>1.2 Mb</span></dd></dl>
									</div>
								</div>
								<div class="b-btn-toolbar">
									<button class="btn btn-success tH"><span>Manage Document Storage</span></button>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="b-button">Publish Program</button>
					<button data-dismiss="modal" ng-click="cancel()" type="submit" class="b-button b-cancel">Close</button>
				</div>
				
			</form>
		</div>
	  </div>
	</div>
  </div>

<!-- /Modal -->